.container {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.leftPanel {
    width: 65%;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 1em;
    align-items: center;
    justify-content: center;
    margin-right: 15%;
    padding: 2% 6%;
}

.rightPanel {
    position: -webkit-sticky;
    position: fixed;
    right: 0;
    overflow-y: auto;
    width: 20%;
    text-align: center;
    height: 85%;
    border: 1px solid white;
    padding: 1em;


}

.textDoc {
    white-space: pre-wrap;
}