.container {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.leftPanel {
    width: 78%;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

.rightPanel {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 1em;
}

.textDoc {
    white-space: pre-wrap;
}