.container-datapoints {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.leftPanel-datapoints {
    width: 30%;
    border: 1px solid black;
    box-sizing: border-box;
    overflow: hidden;
}

.rightPanel-datapoints {
    width: 70%;
    border: 1px solid black;

    box-sizing: border-box;
    padding: 1em;
}